In [1]:
import pandas as pd

In [2]:
# Loading in dataset
df = pd.read_csv('data/sentiment_tweets3.csv')

In [3]:
# Previewing dataset
df

,Index,message to examine,label (depression result)
0,106,just had a real good moment. i missssssssss hi...,0
1,217,is reading manga http://plurk.com/p/mzp1e,0
2,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,288,@lapcat Need to send 'em to my accountant tomo...,0
4,540,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0
...,...,...,...
10309,802309,No Depression by G Herbo is my mood from now o...,1
10310,802310,What do you do when depression succumbs the br...,1
10311,802311,Ketamine Nasal Spray Shows Promise Against Dep...,1
10312,802312,dont mistake a bad day with depression! everyo...,1
10313,802313,0,1

In [4]:
# Dropping last row because the entry is empty
df = df.drop(10313)

In [6]:
# Dropping index column
df = df.drop(columns = ['Index'], axis = 1)

In [8]:
# Renaming columns
df = df.rename(columns = {'message to examine':'Tweet', 'label (depression result)': 'Depression?'})

In [9]:
df

                                                   Tweet  Depression?
0      just had a real good moment. i missssssssss hi...            0
1             is reading manga  http://plurk.com/p/mzp1e            0
2      @comeagainjen http://twitpic.com/2y2lx - http:...            0
3      @lapcat Need to send 'em to my accountant tomo...            0
4          ADD ME ON MYSPACE!!!  myspace.com/LookThunder            0
...                                                  ...          ...
10308  Many sufferers of depression aren't sad; they ...            1
10309  No Depression by G Herbo is my mood from now o...            1
10310  What do you do when depression succumbs the br...            1
10311  Ketamine Nasal Spray Shows Promise Against Dep...            1
10312  dont mistake a bad day with depression! everyo...            1

[10313 rows x 2 columns]